$primaryColor: #DB281C;
$secondaryColor: #10A2DC;
$purple: #CE60FF;
$bashColor: #0ACF83;
$mapBackgroundColor: #1E1E1E;
$screenshotWidth: 410px;
$screenshotHeight: 240px;
$screenshotBorder: 5px solid #fff;